<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VAI_Project_Assignment.Properties.Settings.DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ender\Source\Repos\ImMarv\VAI_Project\VAI_Project_Assignment\VMI.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="2227823LocalDB" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\USERS\TARAK\SOURCE\REPOS\VAI_PROJECT5\VAI_PROJECT_ASSIGNMENT\2227823LOCALDB.MDF;Database=2227823LocalDB;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
        <add name="VAI_Project_Assignment.Properties.Settings.DBConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\2227823LocalDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>